html
    head
        title Provely
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // CSRF Token
        // Styles
        link(href='https://s3.amazonaws.com/provely-public/stylesheets/widgets-embed.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
        // Scripts
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', rel='stylesheet')
    body
        .provely-widget.alert-widget.alert-widget-4
            .pull-left.icon
                img.live_preview_image(src='https://s3.amazonaws.com/provely-public/images/ico-7.png', alt='', style='background: rgb(255, 255, 255);')
            .desc.desc_live_preview(style='background: rgb(255, 255, 255);')
                h4.desc-heading
                    small
                        span#name-city.desc-heading-name(style='color: #000000')=leadSnippet
                h4.desc-heading_foot(style='color: #000000')=message
                span.time(style='color: #909090')=timeSnippet

