.campaign > .settings.closed {
    display: none;
}

.campaign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "name lead"
        "url switch"
        ". cog"
        ". trash";
}

.lead-count {
    grid-area: 'lead';
}

.person {
    grid-area: 'person';
}

.switch {
    grid-area: 'switch';
}

.trash {
    grid-area: 'trash';
}

.cog {
    grid-area:'cog';
}

.name {
    grid-area: 'name';
}

.url {
    grid-area: "PERSON";
}
