.footer {
    background-color: rgba(175, 175, 175, .7);
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.footer p {
    color: rgba(0,0,0,.7);
    text-align: center;
    margin-top: 1.75em;
    text-decoration: line-through;
}
