
/* Switch Settings */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: rotate(-90deg);
}

.switch > input {
    display:none;
}

.switch > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch > .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch > input:checked + .slider {
    background-color: #2196F3;
}

.switch > input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch > .slider.round {
    border-radius: 34px;
}

.switch > .slider.round:before {
    border-radius: 50%;
}

/* End of Switch Settings */






/* Campaign Grid Areas */

.lead-count {
    grid-area: 'lead';
}

.person {
    grid-area: 'person';
}

.switch {
    grid-area: 'switch';
}

.trash {
    grid-area: 'trash';
}

.cog {
    grid-area:'cog';
}

.name {
    grid-area: 'name';
}

.url {
    grid-area: "PERSON";
}

/* End of Campaign Grid Areas */


/* Campaign Grid Settings */
.campaign {
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        'head sidebar'
        '. sidebar'
        'settings settings';

}

.campaign:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Campaign Header Grid Settings */
.head {
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 0;
    background-color: rgba(50, 50, 50, 0.1);

    grid-area: head;
    
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr;
}




/* Campaign Sidebar Grid Settings */
.sidebar {
    padding: 2em 0.75em 2em 0.75em;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 5px 0 0;
    background-color: rgba(50, 50, 50, 0.1);

    grid-area: sidebar;

    display: grid;
    grid-gap: 5px;
    grid-template-rows: 3fr 2fr 2fr 2fr;
}




/* Campaign Settings Grid Settings */
.settings {
    text-align: left;
    justify-items: left;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: rgba(50, 50, 50, 0.1);

    grid-area: settings;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.75em;
}




/* Text inputs on settings */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}




/* Label is shrink by default and also is shrink it's dropdowns and input boxes */
.settings > label {
    width: 100%;
}




.icon {
    width: 40px;
    padding-top: 0.5em;
}

.sidebar > * {
    justify-self: center;
}


.head > .name,
.head > .url {

    text-align: left;
    margin: 0.25em 0 0 0.5em;
}

.head > .name {

    font-size: 1.5em;
}

.head > .url {
    font-size: 1em;
}




.copy-pasta {
    justify-self: center;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5em 0 0 0;
    border-radius: 5px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.copy-pasta:hover,
.copy-pasta:focus {
    background: #0053ba;
}

.copy-pasta:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.copy-pasta:active {
    transform: scale(0.99);
}