.open {
    display: block;
}

.closed {
    display: none;
}

.navbar {
    display: block;
    background-color: rgba(66, 191, 244, 0.8);
    margin-bottom: 0.75em;
    transition: height 2s;
}

.link-list-container {
    margin-top: .55em;
    padding-top: .7em;
    border-top: 1px solid rgba(255,255,255, .6);
}

.hamburger,
.x-button {
    fill: rgba(255,255,255, .8);
}


.link-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link-list a {
    margin-top: 1em;
    margin-left: .5em;
    font-size: 1.5em;
    color: rgba(255,255,255, .6);
}

.username {
    color: white;
    text-shadow: 1px 1px 1px white;
    float: right;
    margin-top: .25em;
    margin-right: .25em;
}